* {
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
}
.canvasWrapper {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-top: 1%;
}
#canvas {
  cursor: grab;
}
.imageList {
  height: 96vh;
  align-self: center;
  justify-content: center;
  min-width: 175px;
  overflow-y: auto;
  margin-right: 10px;
  flex-direction: column;
}
.controls {
  display: none;
  font-family: 'Open Sans', sans-serif;  
  text-align: left;
  padding: 10px;
  position: absolute;
  margin-left: auto;
  margin-right: 10px;
  min-width: 100px;
  height: auto;
  left: 1%;
  top: 2%;
  box-shadow: 8px 5px 14px -3px rgba(0, 0, 0, 0.75);  
}
#openControls {
  color: inherit;
  align-self: baseline;
}
.showControls {
  display: block;
}
.controlsWrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.polish {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.columnP {
  min-width: 120px;
  display: flex;
  flex-direction: column;
 
}
.columnP:nth-child(2n) {
   margin-left: 10px;
}
.contentStyle {
  padding: 15px 0;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#name {
  margin: 0 0 20px 0;
  max-width: 300px;
}
#toDeg {
  font-size: 12px;
}
#warning {
  font-size: 14px;
  color: red;
}
.shapePreview {
  display: flex;
  margin: auto;
  margin-top: 5px;
  padding: 1px;
}
.active {
  box-shadow: inset 0px 0px 1px 1px rgba(171,48,171, 0.5); 
}
.select {
  max-width: 100px;
  position: absolute;
  right: 150px;
  top: 10px;
}

input {
  margin-bottom: 15px; 
 
}

.colorizeInput {
  margin-right: auto; 
}

@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }
  .imageList {
    flex-direction: row;
    overflow-x: auto;
    height: auto;
  }
}